<div class="comp-container">
    <h1 class="title">Favorites</h1>

    <div tracks-table-container>
            <table class="tracks-table">
        
                <tbody>
                    <tr *ngFor="let track of favorites">
                        <td>
                            <p>{{ track.name }}</p>
                        </td>
                        <td>
                            <div>
                                <button (click)="addToFav(track.id)">
                                    <div (click)="onClick()">
                                        <i class="fas fa-heart fa-4x" [ngClass]="{'active': isActive}"></i>
                                    </div>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>
