<nav>
    
    <div class="navbar-container">
        <a routerLink="/">
            <img src="../../../assets/img/banner-ico.png" id="logo" alt="LOGO">
        </a>

        <div class="navLinks-container">
            <ul class="nav-links">
                <li routerLinkActive="active"><a routerLink="home">Home</a></li>
                <li routerLinkActive="active"><a routerLink="search">Search</a></li>
                <li routerLinkActive="active"><a routerLink="about">About</a></li>
            </ul>
        </div>
    </div>

</nav>


