<div tracks-table-container>
    <table class="tracks-table">
        <thead>
            <tr class="table-titles">
                <th>
                    <p>Song</p>
                </th>
                <th>
                    <p>Play</p>
                </th>
                <th>
                    <p>Favorite</p>
                </th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let track of tracks">
                <td>
                    <p>{{ track.name }}</p>
                </td>
                <td>
                    <iframe [src]="track.uri | domsanitizer" width="80" height="80" frameborder="0"
                        allowtransparency="true" allow="encrypted-media"></iframe>
                </td>
                <td>
                    <div>
                        <button (click)="addToFav(track.id)">
                            <div (click)="onClick()">
                                <i class="fas fa-heart fa-4x" [ngClass]="{'active': isActive}"></i>
                            </div>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>